#background{
    width:100vw;
    position: absolute;
    z-index: -1;
}

ul{
    background-color: rgba(221, 172, 80, 0.692);
    width: 20vw;
    color:white
}
b{
    background-color:rgba(221, 172, 80, 0.692);
    color: white
}